header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  min-height: 5rem;
  padding: 0.2rem 1rem 0;
  background: transparent;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  .brand-logo {
    > img{
      @media (max-width: 767px) {
        width: 70px;
      }
    }
  }
  &:before {
    // content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #be2a2a -86.4%, #ef7f1a 94.15%);
    transition: top 0.5s ease;
  }
  &:after{
    //  content: "";
      position: absolute;
      left: 50%;
      bottom: -25px;
      transform: translateX(-50%);
      
      width: 90%;
      height: 40px;

      background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.25) 0%,
        rgba(0, 0, 0, 0.15) 40%,
        rgba(0, 0, 0, 0.05) 70%,
        transparent 100%
      );

      filter: blur(8px);
      border-radius: 50%;
      pointer-events: none;
  }
  &.sticky {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #be2a2a -86.4%, #ef7f1a 94.15%);
      transition: top 0.5s ease;
    }
    nav {
      a {
        color: rgb(255, 255, 255);
      }
      .submenu {
        a {
          color: rgb(0, 0, 0);
        }
      }
    }
  }
  .lg-1{ 
    margin:0;
    padding:0;
  }
  .lg-2{
    margin-left: 0.2rem;
    margin-top: 0.3rem;
  }
 .nav-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.85s cubic-bezier(0.22, 1, 0.36, 1);
  font-size: var(--menu-font-size);
  // font-size: 1.25rem;
  }

  .nav-word {
    display: flex;
    overflow: hidden;
  }

  .nav-letter {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 1.2em;
    line-height: 1.2em;
    font-weight: 600;
  }

  .letter-top,
  .letter-bottom {
    display: block;
    will-change: transform;

    transition:
      transform 0.7s cubic-bezier(0.76, 0, 0.24, 1);

    transition-delay: var(--delay);
  }

  .letter-bottom {
    position: absolute;
    left: 0;
    top: 100%;
  }


  .nav-link:hover {
    .letter-top,
    .letter-bottom {
      transform: translateY(-105%);
    }
  }

  /* REVERSE WAVE ON MOUSE OUT */

  .nav-link:not(:hover) {
    .letter-top,
    .letter-bottom {
      transform: translateY(0);
    }
  }

  .has-submenu:hover,
  .has-single-submenu:hover {
    .nav-arrow {
      transform: rotate(180deg);
    }
  }
  .letter-top,
  .letter-bottom {
    transition-delay: var(--delay);
  }
  nav {
    margin: 0;
    z-index: 1;
    position: relative;
    .menu > li > a {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 4px;
          right: 0;
          width: 0;
          height: 2px;
          background: $primary-color1;
          transition: all 0.32s ease-out;
        }

        &:hover::after {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    ul {
      // Variables for easy branding updates
      $primary-orange: #ef7f1a;
      $hover-white: white;
      $mobile-breakpoint: 1280px;
      list-style: none;
      &.custom-counter-list {
        // counter-reset: service-item;
        li {
          // counter-increment: service-item;
          position: relative;
          list-style: none; // Ensuring clean appearance

          &::before {
            // content: counter(service-item, decimal-leading-zero);
            font-size: 24px;
            font-weight: 900;
            margin-right: 20px;
            line-height: 1;
            // Default: Orange Outline
            color: transparent;
            -webkit-text-stroke: 1px $primary-orange;
            transition: all 0.2s ease;
            @media (max-width: $mobile-breakpoint) {
              font-size: 18px;
            }
          }

          // Hover state nested within the li
          &:hover::before {
            -webkit-text-stroke: 1px $hover-white;
          }
        }
      }
      
      > li {
        margin: 0;
        padding: 2rem 1rem;
        position:relative;
        color: $text-color;
       > a {
          outline: none;
          font-size: var(--menu-font-size);
          color: $text-color;
          text-decoration: none;
          // font-weight:600;
          position:relative;
          padding:1rem 0;
          // letter-spacing: 0.5px;
          &:after{  
            content: "";
            position: absolute;
            bottom: 4px;
            right: 0;
            width: 0%;
            height: 2px;
            background: $primary-color1;
            transition: all 0.32s ease-out;
          }
        }
        
        button{
          color:$text-color;
          font-size: var(--font-size);
        }
        &.has-single-submenu{
            position: relative;
            // font-weight:600;
            span {
              display: flex;
              align-items: center;
              font-size: var(--font-size);
              // font-weight: 600; 
            svg {
              margin:0.2rem 0 0 .5rem;
              transition: all .5s ease;
            }
          }
          &:hover{
             .mega-menu {
              opacity: 1;
              visibility: visible;
            }
             span svg {
              transform: rotate(180deg);
            }
          }
          .mega-menu{
            position: absolute;
            top: 84px;
            left: 0;
            width: 250px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            z-index: 9999;   
            .mega-menu-inner{
              padding: 1rem;
              button{
                text-align: left;
                color:gray !important;
                font-weight:600;
                font-size: var(--font-size);
              }
            }
          }
        }
        &.has-submenu {
          position: relative;
          // font-weight:600;
          span {
            text-align: left;
            display: flex;
            align-items: center;
            font-size: var(--menu-font-sizefont-size);
            // font-weight: 600; 
            svg {
              margin:0.2rem 0 0 .5rem;
              transition: all .5s ease;
            }
          }
          &:hover {
            span svg {
              transform: rotate(180deg);
            }
            .mega-menu {
              opacity: 1;
              visibility: visible;
            }
             ~ .menu-overlay {
              opacity: 1;
              visibility: visible;
            }
          }
        }
        .mega-menu {
          position: fixed; // 🔥 key change
          top: 80px; // match your header height
          left: 0;
          width: 100vw; // full screen width
          max-height: 100vh;
          overflow-y: auto;
          /* 🔥 THIS FIXES YOUR ISSUE */
          overscroll-behavior: contain;
          /* smooth scroll */
          -webkit-overflow-scrolling: touch;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
          z-index: 98;
        
          &.active{
            opacity: 1;
            visibility: visible;  
          }
        }
        .mega-menu-inner {
          max-width: 1400px; // control content width
          margin: 0 auto; // center horizontally
          padding: 2rem;
          background: #fff;

          display: grid;
          gap: 20px;

          border: 2px solid $primary-color1;
          border-top: none;
        }
        .mega-menu-heading {
          text-align: center;
          margin-bottom: 40px;
          h3 {
            font-size: 28px;
            font-weight: 600;
          }
          p {
            opacity: 0.8;
          }
        }
              
        /* TOP 3 CARDS */
        .mega-top{
          display:grid;
          grid-template-columns:repeat(3,1fr);
          gap:10px;
          margin-bottom:10px;

        .pdf-download {
          margin-left: 10px;
          display: flex;
          align-items: center;
        }

        .pdf-download img {
          transition: transform 0.3s ease;
        }

        }

        .mega-link{
          color: $text-color;
          font-size: var(--font-size);
        }

        .mega-title{
          padding:10px;
          border-bottom:1px solid $text-color;
          // font-weight:600;
          display: flex;
          justify-content: space-between;
          padding-right: 2rem;
          a{
            font-size: 1.2rem;
            // background-image: linear-gradient(105deg, #a83939 5.15%, #8d2d33 69.93%);
            // background-image: linear-gradient(0deg, #be2a2a -86.4%, #ef7f1a 94.15%);            
            color: $text-color;
            background-clip: text;
          }
        }
        .mega-link-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .mega-children {
          padding-left: 14px;
          margin-top: 4px;
        }
        ul.mega-section{
          height: 220px;
          padding: 0px 8px 0;

          &.has-more{
            overflow-y: scroll;
            ::-webkit-scrollbar {
                display: none;
              }
              /* For IE, Edge, and Firefox */
              -ms-overflow-style: none;  /* IE and Edge */
              scrollbar-width: none;  /* Firefox */
          }
          // border-bottom:1px solid #555;
          li.mega-item{
            margin:0;
            padding:0.4rem 1.6rem 0.4rem 0px;
            display: flex;
            justify-content: space-between;
            position:relative;
            button {
              text-align: left;
            }
            a{
              padding: 0;
              margin: 0;
              font-weight: 600;
            }
                          
            .mega-row {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0;
            }
             
            &.has-child{
              display:block;
              cursor: pointer;
              &:after{
                content: "+";
                width: 1rem;
                position: absolute;
                top: 0.2rem;
                right: 0.9em;
                font-size: 1.5rem;
              }
              &:hover{
                &:after{
                  content:"-";
                }
              }
            }
            .mega-link {
              text-decoration: none;
              color: $text-color;
              position: relative;
              display: grid;
              
            }

            /* SUBMENU */
            .mega-submenu {
              margin: 0;
              padding: 0;
              max-height: 0;
              overflow: hidden;
              opacity: 0;
              transform: translateY(1rem);
              transition: 
              max-height 0.6s ease,
              opacity 0.3s ease,
              transform 0.3s ease;
              // overflow: visible;
              ::-webkit-scrollbar {
                display: none;
              }
              /* For IE, Edge, and Firefox */
              -ms-overflow-style: none;  /* IE and Edge */
              scrollbar-width: none;  /* Firefox */
            } 
            /* HOVER EXPAND */
            &:hover > .mega-submenu {
              max-height: 1000px; // adjust based on content
              opacity: 1;
              transform: translateY(0);
            }
            .mega-submenu li {
              padding: 0;
              font-size: 14px;
              display: block;
              margin-left: 1.2rem;
            }
       
            .has-child2  {
              position:relative;
              margin-left:1rem;
              &:before{
                content: "+";
                position: absolute;
                left: 0;
                transform: translateX(-1.1rem);
                font-size: 1.5rem;
                width: 1rem;
                top: -8px;

              }
              &:hover {
                 &:before{
                  content: "-";
                 }
              }
              
            .mega-submenu-level2 {
              max-height: 0;
              padding-left: 15px;
              transition: max-height .3s ease;
              list-style: none;
              padding-left: 15px;
              margin: 5px 0;
              max-height: 0;
              overflow: hidden;
              opacity: 0;
              transform: translateY(10px);

              transition: 
                max-height 0.6s ease,
                opacity 0.3s ease,
                transform 0.3s ease;
                li{
                  margin:0;
                  padding:0.2rem 0 0.5rem;
                }
              }
                &:hover >  .mega-submenu-level2 {
                max-height: 1000px;
                opacity: 1;
                transform: translateY(0);
                margin-top: 0px;
                padding: 0;
              }
            }
          }
          
        }

        /* BOTTOM VALUES */
        .mega-bottom {
          grid-template-columns: repeat(3, 1fr);
          padding: 10px;
          display: grid;
          gap: 10px;
        }

        /* each item */
        .mega-bottom-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 6px 2.3rem 6px 0px;
          color: $text-color;
          &:nth-child(2){
            padding:6px 1.8rem 6px 0px;
          }
          &:nth-child(3) {
            padding: 6px 1.8rem 6px 10px;
          }
          &:nth-child(5){
            padding: 6px 1.8rem 6px 0px;
          }
        }

        /* service link */
        .mega-bottom-link {
          text-decoration: none;
          color: $text-color;
          // color: inherit;
          // font-weight: 500;
        }

        /* pdf icon */
        .pdf-download {
          margin-left: 10px;
          display: flex;
          align-items: center;
        }

        /* icon animation */
        .pdf-download img {
          filter:grayscale(1);
          // transition: transform 0.25s ease;
        }
      }
    }
    a {
      outline: none;
      font-size: var(--font-size);
      color: rgb(0, 0, 0);
          font-weight: 600;
    }
    
  }
  .menu-icon {
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    span {
      height: 22px;
      border-radius: 50px;
      background: linear-gradient(0deg, #be2a2a -86.4%, #ef7f1a 94.15%);
    }
  }
}