
.careers {
.section-title {
    // text-align:center;
    margin: 0;
    padding: 1rem 0;
    background-color: white;
    text-align: center;
    h3 {
      text-align: center;
      line-height: 1;
      padding-bottom: 1rem;
      position: relative;
      display: inline-block;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 1rem;
      background: linear-gradient(
        115deg,
        var(--themeht-primary-color),
        var(--themeht-secondary-color)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 9;

      /* ORANGE UNDERLINE (CENTERED) */
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 90px;
        height: 3px;
        background: #ff7a00;
        border-radius: 4px;
        transform: translateX(-45%);
        overflow: hidden;
      }

      /* SINGLE MOVING DOT (CENTERED FLOW) */
      &::before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 50%;
        width: 14px;
        height: 14px;
        background: #ffffff;
        border: 3px solid #ff7a00;
        border-radius: 50%;
        transform: translateX(-45px); // half of underline width
        animation: dot-flow 3s linear infinite alternate;
        z-index: 2;
      }
    }
  }
  h5{
    color: $primary-color;
    font-weight: bold;
    text-align: left;
    font-size:1.4rem;
  }
  p{
    font-size: large;
  }
  address{
    float: left;
    width: max-content;
    padding: 1.2rem 1.2rem;
    color: #fff;
    background: linear-gradient(0deg, #be2a2a -86.4%, #ef7f1a 94.15%);
    border-radius: 40px;
    margin-top: 2rem;
    a {
      color:#fff;
      font-size: 1.1rem;
    }
  }
}
