.pressrelease{
  position: relative;
  .not-fount-pr p{
    text-align: center;
  }
  .category-filter{
    position: relative;
    z-index: 1;
  }
  .press-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    // grid-template-columns: repeat(
    //   auto-fit,
    //   minmax(320px, 1fr)
    // );
    gap: 1rem;
  .image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  .press-card {
    max-width: 400px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    position: relative;
    a {
      color: inherit;
      text-decoration: none;
      display: block;
    }

    &:hover {
      // transform: translateY(-6px);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);

      .image {
        transform: scale(1.08);
      }

      .read-more {
        color: #ef6f1f;
      }
    }
  }
  .image {
    object-fit: cover;
    transition: transform 0.4s ease;
  }

  .content {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-flow: column;
    text-align: left;
        color: #ef6f1f;
    opacity: 1;
    width: 100%;
    height:auto !important;
    &:before{
      content: "";
      backdrop-filter: blur(0);
      z-index: -1;
      position: absolute;
      background: transparent;
      inset: 0px;
    }
  }

  .category {
    text-align:left;
    color: #ef6f1f;
    border-radius: 12px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    position:relative;
  }

  .content h3 {
    font-size: 1.35rem;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin:0;
    padding:0;
  }
  .read-more {
    font-weight: 600;
    transition: color 0.3s;
  }
 
}

 .footer{
        background: none;
    border: 0;
    color: black;
  }


  .card{
    .card-body{
      .badge{
        position: relative;
        // top: 1rem;
        // right: 1rem;
      }
    }
  }
  ul.pagination{
    li.page-item {
          border: none;
          margin: 0 0.5rem;
      &.active{
          border: none;
        .page-link{
          background-color: var(--chocolate-orange);
          border: none;
           color:white;
           box-shadow: none;
        }
      }
      .page-link{
        border-radius: 0.5rem;
        color:var(--dark-black);
      }

    }
  }
 .leaveplyform{
     .replytitle{
      text-align: left;
      padding: 1rem 0;
      h4{
        margin: 0;
        padding:0;
        font-size:2rem;
      }
      h6{
        padding: 0.5rem 0;
      }
    }
    

  }
  .comments-wrapper {
    h4{
      text-align: left;
    }
    .username, .date{
      text-align: left;
    } 
  .comment-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #ef7f1a;
  }

  .comment-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  .reply-list {
    margin-left: 80px;  
    h6, small{
      text-align: right;
      display: block;
    }
    p {
      display:block;
      text-align: right;
    }
    .border-start {
      border-left: 2px solid #ef6f1f !important;
    }
  }
}
  .commentsreply {
    .replytitle{
      text-align: left;
      padding: 1rem 0;
      h4{
        margin: 0;
        padding:0;
        font-size:2rem;
      }
      h6{
        padding: 0.5rem 0;
      }
    }
    .replybody {
      text-align: left;
    }
  }
}